total{
    .player-name
    {
        max-width:50%;
        min-width:50%;
        overflow:hidden
    }
    .player-score
    {
        min-width: 50px;
        border-left:solid 1px grey;
        padding-left:10px;
    }
}