<ion-header>
  <ion-toolbar>
    <ion-title>
      Game title
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col col-4>
            <ion-row *ngFor="let name of roundNames"><div>{{name}}</div></ion-row>
        </ion-col>
        <ion-col *ngFor="let player of game; let i=index" >
            <ion-row *ngFor="let round of player.rounds"><div>{{round}}</div></ion-row>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>