<ion-header>
  <ion-toolbar>
    <ion-title>
      Game title
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let player of game">
      <ion-item *ngFor="let round of player.rounds">
        <h2>{{round}}</h2>
      </ion-item>
  </ion-list>
</ion-content>