<ion-header>
  <ion-toolbar>
    <ion-title>
      Game title
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="addPlayer()">
        <span ion-text color="primary" showWhen="ios">Add player</span>
        <ion-icon name="md-add" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let row of table; let rowInd=index">
            <ion-col
              [attr.col-3]="colInd === 0 ? true: null" 
              [attr.col-2]="colInd !== 0 ? true : null"
              text-center
              *ngFor="let col of row;let colInd=index">
                <div (click)="s = !s">
                  {{rowInd === 0 ? getInitials(col): col}}
                </div>
                <ion-input *ngIf="s" type="number"></ion-input>
              </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>