<ion-card [style.background-color]="round.color">
  <ion-card-header><b style="color:white">{{round.name}}</b></ion-card-header>
  <ion-list>
    <ion-item *ngFor="let player of game.players; let i=index">
      <ion-icon name="ios-contact" item-left></ion-icon>
      <div item-left style="max-width:40%;min-width:40%; overflow:hidden">{{player.name}}</div>
      <ion-input 
         style="border-left:solid 1px grey;"
         item-right 
         type="tel"
         placeholder="score"
         value="{{player.score.getScore(round.number)}}"
         (input)="saveScore(game, player, round.number, $event.target.value)"></ion-input>
    </ion-item>
  </ion-list>
</ion-card>