<ion-card [style.background-color]="round.color">
  <ion-card-header (click)="showScores = !showScores" tappable>
      <ion-row>
    <ion-col col-11>
      <b class="white">{{round.name}}</b>
    </ion-col>
    <ion-col col-1>
          <ion-icon
            class="white large-ico"
            [name]="showScores?'ios-arrow-dropup-circle':'arrow-dropdown-circle'"></ion-icon>
    </ion-col>
    
  </ion-row>
  </ion-card-header>
  <ion-list *ngIf="showScores">
    <ion-item *ngFor="let player of game.players; let i=index">
      <ion-icon name="ios-contact" item-left></ion-icon>
      <div item-left class="player-name">{{player.name}}</div>
      <ion-input
         item-right
         class="player-score"
         type="tel"
         placeholder="score"
         value="{{player.score.getScore(round.number)}}"
         (input)="saveScore(game, player, round.number, $event.target.value)"></ion-input>
    </ion-item>
  </ion-list>
</ion-card>